
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>list page</h1>

    [[${list}]]
    

    <table>
        <tbody>
            <tr th:each="col : ${list}">
                <td>[[${col.title}]]</td>
                <td>asdasdasda</td>
            </tr>

        </tbody>
    </table>


</body>
</html>